.contenedor{
    display:flex ;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    height: auto;
    background-color: #24325fff;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}
.boton{
    margin: 10px 5px;
    height:40px;
    width: 80px;
    padding: 3px;
    font-family: RyM;
    font-size: large;
    background-color: #242c3c;
    color: #000000;
    border:  #2ad828  solid 3px;
    color:  #2ad828 ;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.boton:hover{
    box-shadow: 2px 2px 5px #ffffff;
}

.labelText{
    font-family: floyd;
    color:  #2ad828 ;
    margin: 5px
}
.errores{
    height: 20px;
    color: white;
    font-size: 10px;
    margin: 5px
}