.contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin: 40px auto ;
    background-color: rgba(10,10,10,0.9);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    width: 95%;
    height: auto;
    max-width: 960px;
}
.contenedorDatos{
    max-width: 600px;
    width: 90%;
    padding: 15px;
    font-family: floyd;
    font-size: 14px;
    color: aliceblue;
}
.datos{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

.imagenes{
    width: 90%;
    max-width: 260px;
    border-radius: 25%;
    box-shadow: 3px 3px 3px 3px 3px rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width: 500px){
    .contenedor{
        flex-direction:column;
    }
    }