.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 200px;
    height: 300px;
    margin: 10px;
    font-family: floyd;
    background-color:  #24325fff;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-out;
}

.contenedor:hover{
    box-shadow: 3px 3px 3px #fff;
    scale: 1.03 ;
}
.datos{
    color:#000;
    background-color: #2ad828 ;
    font-size: 15px;
    padding: 2px 0px;
    width: 95%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    text-decoration: none;
    
}
.nombre{
    font-size: 15px;
    padding: 2px 0px;
    width: 95%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    text-decoration: none;
}
.enFavs{
    font-size: 13px;
    color: #2ad828 
}
.imagenes{
    width: 50%;
    padding: 8px;
    border-radius: 10px;
}   
.botonCerrar{
    width: 30px;
    height: auto;
    border-radius: 50%;
    background-color: black ;
    margin: 5px;
    color: aliceblue;
}