.contenedor {
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #24325fff;
    height: 50px;
    width: 50%;
    min-width: 200px;
    max-width: 400px;
}

.input {
    margin: 5px;
    height: 60%;
    border: none;
    border-radius: 15px; 
    width: 50%;
    padding: 10px;
}

.botonBarra {
    margin: 5px;
    height: 60%;
    width: 80px;
    padding: 3px;
    font-family: fantasy;
    background-color:#242424;
    color: #000000;
    border: #fce407 solid 3px;
    color: #fce407;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.botonBarra:hover{
    box-shadow: 2px 2px 5px #ffffff;
}