.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #24325fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.botonBarra {
    margin: 5px;
    height:40px;
    width: 80px;
    padding: 3px;
    font-family: RyM;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.6);
    border:  #2ad828  solid 3px;
    color:  #2ad828 ;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.botonBarra:hover{
    box-shadow: 2px 2px 5px #ffffff;
}